<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/credits.css">
  <title>Game of Pairs - Credits</title>
  <script>new Audio('/static/assets/credits.mp3').play()</script>
</head>
<body>
<button id="backButton" onClick="window.location.href='/'">MAIN MENU</button>
  <div class="wrapper">
    <div class="scroll-text">
      <h1>Game of Pairs</h1>
      <br>
      <h2>Development Team</h2>
      <br>
      <h2>Gábor Balázs</h2>
      <br>
      <p>Graphic design</p>
      <p>Code skeleton</p>
      <p>Hall of Fame</p>
      <br>
      <h2>Attila Galambos</h2>
      <br>
      <p>Game field</p>
      <br>
      <h2>Richárd Mogyoró</h2>
      <br>
      <p>Scrum master</p>
      <p>Credits page</p>
      <br>
      <p>Game publishing: Takeuchi-Nonaka Corp. 1 Chome Marunouchi, Chiyoda City, Tokyo 100-0005, Japan</p>
    </div>
  </div>
</body>
</html>