<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/credits.css">
  <title>Game of Pairs - Credits</title>
</head>
<body>
<button id="backButton" href="index.html"><a href="/">Back</a></button>
  <div class="wrapper">
    <div class="scroll-text">
      <h1>Game of Pairs</h1>
      <br>
      <h1>Development Team</h1>
      <br>
      <h1>Gábor Balázs</h1>
      <br>
      <p>Graphic design</p>
      <p>Code skeleton</p>
      <p>Hall of Fame</p>
      <br>
      <h1>Attila Galambos</h1>
      <br>
      <p>Game field</p>
      <br>
      <h1>Richárd Mogyoró</h1>
      <br>
      <p>Scrum master</p>
      <p>Credits page</p>
      <br>
      <p>Game publishing: Takeuchi-Nonaka Corp. 1 Chome Marunouchi, Chiyoda City, Tokyo 100-0005, Japan</p>
    </div>
  </div>
</body>
</html>