{% extends 'base.html' %}
{% block head %}
    <title>Index Page</title>
    <link type="text/css" rel="stylesheet" href="../static/entry.css">
    <script src="../static/js/entry.js" defer></script>
{% endblock %}

{% block body %}
    <img src="../static/assets/logo.png" alt="LOGO">
    <form class="entry" method="post">
        <label for="username">
            <input value="Username..." onClick="this.value=''" type="text" maxlength="20" name="username" id="username"
                   required>
        </label>
        <button formaction="/menu">Send...</button>
    </form>
{% endblock %}