{% extends 'base.html' %}
{% block head %}
<title>Game Page</title>
{% endblock %}

{% block body %}
<h1>Your score: <span id="score">0</span><br><span id="time"></span></h1>
<section class="memory-game-{{ difficulty }}">
    {% for card in cards %}
    <div class="memory-card-{{difficulty}}" data-framework="{{ card }}">
        <img class="front-face" src="/static/assets/{{ card }}.png" alt="{{ card }}"/>
        <img class="back-face" src="/static/assets/BG01.png" alt="Card Back"/>
    </div>
    <div class="memory-card-{{difficulty}}" data-framework="{{ card }}">
        <img class="front-face" src="/static/assets/{{ card }}.png" alt="{{ card }}"/>
        <img class="back-face" src="/static/assets/BG01.png" alt="Card Back"/>
    </div>
    {% endfor %}
</section>
{% endblock %}