{% extends 'base.html' %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/main.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <script type="text/javascript" defer>
    let level = '{{ level }}';
    </script>
    <script src="/static/js/game.js" defer></script>
    <title>Game Page</title>
{% endblock %}

{% block body %}
<div class="time-and-score">
<form method="post">
<h1>Score: <span id="score">0</span><br><span id="stopwatch"></span></h1>
    <label for="score">
    <input type="hidden" name="score" value="" id="final-score">
    </label>
{% if level == 'level3' %}
<p class="win-message-hide" id="win-message">Congrats!! You completed all the levels in {{ difficulty }} mode!!</p>
{% else %}
<p class="new-level-message-hide" id="new-level-message">New Level Unlocked!</p>
{% endif %}
<button class="menu-button-hide" id="button" formaction='/game/{{ difficulty }}/{{ level }}'>Back to main menu</button>
</form>
</div>
<section class="memory-game-{{ difficulty }}">

    {% for card in cards %}
    <div class="memory-card-{{difficulty}}" data-framework="{{ card }}">
        <img class="front-face" src="/static/assets/{{ card }}.png" alt="{{ card }}"/>
        <img class="back-face"
             src="/static/assets/BG{{ backgrounds[2] if difficulty == 'easy' else backgrounds[0] if difficulty == 'normal' else backgrounds[1] }}.png"
             alt="Card Back"/>
    </div>
    <div class="memory-card-{{difficulty}}" data-framework="{{ card }}">
        <img class="front-face" src="/static/assets/{{ card }}.png" alt="{{ card }}"/>
        <img class="back-face"
             src="/static/assets/BG{{ backgrounds[2] if difficulty == 'easy' else backgrounds[0] if difficulty == 'normal' else backgrounds[1] }}.png"
             alt="Card Back"/>
    </div>
    {% endfor %}
</section>
{% endblock %}