{% extends 'base.html' %}

{% block head %}
    <title>Hall of Fame</title>
    <script>new Audio('/static/assets/hall_of_fame.mp3').play()</script>
    <script type="text/javascript" defer>
        let usernames = [];
        let scores = [];
        let dates = [];
        let modes = [];
        {% for table in tables %}
            {% for score in table %}
                usernames.push("{{ score.username }}");
                scores.push("{{ score.score }}");
                dates.push("{{ score.date_created }}");
                modes.push("{{ score.game_mode }}");
            {% endfor %}
        {% endfor %}
    </script>
    <script type="text/javascript" src="../static/js/high_score.js" defer></script>
    <link type="text/css" rel="stylesheet" href="../static/hs.css">
{% endblock %}

{% block body %}
{% endblock %}
