{% extends 'base.html' %}

{% block head %}
    <title>Hall of Fame</title>
    <script type="text/javascript" defer>
        let usernames = [];
        let scores = [];
        let dates = [];
        {% for score in scores %}
            usernames.push("{{ score.username }}");
            scores.push("{{ score.score }}");
            dates.push("{{ score.date_created }}");
        {% endfor %}
    </script>
    <script type="text/javascript" src="../static/js/high_score.js" defer></script>
    <link type="text/css" rel="stylesheet" href="../static/hs.css">
{% endblock %}

{% block body %}
{% endblock %}
