{% extends 'base.html' %}
{% block head %}
    <title>Hall of Fame</title>
{% endblock %}

{% block body %}
    <table></table>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        let usernames = [];
        let scores = [];
        {% for score in scores %}
            usernames.push("{{ score.username }}");
            scores.push({{ score.score }});
        {% endfor %}
    </script>
    <script type="text/javascript" src="../static/js/high_score.js"></script>
{% endblock %}